# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dylib
*.exe
*.pdb
*.ilk

TDD.pdf

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*
/build*
/release
/debug
scripts/windows/tmp/
# IDE
.vscode
.idea

#Mac
.DS_Store
/conanbuildinfo.txt
/conan.lock
/conan_imports_manifest.txt
/conanbuildinfo.cmake
/conaninfo.txt
/graph_info.json
# Code quality
/gl-code-quality-report.json
